---
layout: default
title:  Haskell Camargo
---

<div id="hero-description">
  <div class="constrained">
    <h2>It makes sense</h2>
    <p>Hey, there! Why are you stalking me? I'm a 18 years old brazilian systems analyst, translator and, sometimes,
    a programming languages designer. Let me introduce myself to you!</p>
  </div>
</div>

<div id="content-wrapper">
  <div class="highlight-section section">
    <h2 class="title"><span>My favorite programming languages</span></h2>
    <div class="overview-boxes-container">
      <ul class="overview-boxes">
        {% for lang in site.favorite %}
          <li>
          <h3>{{ lang.language }}</h3>
          <p>{{ lang.descr }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="highlight-section section">
    <h2 class="title"><span>And I'm proficient in</span></h2>
    <div class="overview-boxes-container">
      <ul class="overview-boxes">
        {% for lang in site.proglang %}
          <li>
          <h3>{{ lang.language }}</h3>
          <p>{{ lang.descr }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="highlight-section section">
    <h2 class="title"><span>Ah, and I speak 7 languages!</span></h2>
    <div class="overview-boxes-container">
      <ul class="overview-boxes">
        {% for lang in site.languages %}
          <li>
          <h3>{{ lang.language }}</h3>
          <p>{{ lang.descr }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="highlight-section section">
    <h2 class="title"><span>I'm also translator on</span></h2>
    <div class="overview-boxes-container">
      <ul class="overview-boxes">
        {% for project in site.translation %}
          <li>
          <h3><a href="{{ project.site }}">{{ project.name }}</a></h3>
          <p>{{ project.descr }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="highlight-section section">
    <h2 class="title"><span>Contribution to external projects</span></h2>
    <div class="overview-boxes-container">
      <ul class="overview-boxes">
        {% for project in site.contribution %}
          <li>
          <h3><a href="{{ project.site }}">{{ project.name }}</a></h3>
          <p>{{ project.descr }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="highlight-section section">
    <h2 class="title"><span>And my small projects</span></h2>
    <div class="overview-boxes-container">
      <ul class="overview-boxes">
        {% for project in site.projects %}
          <li>
          <h3><a href="{{ project.site }}">{{ project.name }}</a></h3>
          <p>{{ project.descr }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>